<!DOCTYPE html>
<html>
<head>
    <title>Admin Login - Steelina</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<section class="form-section">
    <form method="POST" class="form-box">
        <h2>Admin Login</h2>

        <input type="text" name="username" placeholder="Admin Username" required>
        <input type="password" name="password" placeholder="Admin Password" required>

        <button type="submit">Login</button>

        <p><a href="/">Back to Website</a></p>
    </form>
</section>

</body>
</html>